{% extends 'base.html' %}

{% block content %}

<h2>Leaderboard</h2>

<table border="1" cellpadding="10">

    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Quiz</th>
        <th>Score</th>
        <th>Percentage</th>
    </tr>

    {% for result in results %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ result.user.username }}</td>
        <td>{{ result.quiz.title }}</td>
        <td>{{ result.score }}</td>
        <td>{{ result.percentage|floatformat:2 }}%</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}